<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adopt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="/static/Images/magnifying_glass.png" alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart" src="/static/Images/cart.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">

        <a href="/our_story">
            <h2>Our Story</h2>
        </a>
        <a href="/adopt">
            <h2>Adopt a doggo</h2>
        </a>
        <a href="/products">
            <h2>Products</h2>
        </a>
        <a href="/coming_soon">
            <h2>Coming Soon...</h2>
        </a>
    </div>
    <h1 class="adopt">WHEN YOU ADOPT YOU RESCUE A LIFE... AND CHANGE YOUR OWN</h1>
    <div class="sad_dog">
        <img src="/static/Images/sad_doggo.jpg" alt="" id="sad_doggo_pic">
    </div>
    <div class="around_sad_doggo">

        <div id="left_side_adopt"></div>
        <div class="our_mission">
            <h3>Our mission to rescue, rehabilitate & re-home dogs never ends. We work together with
                multiple Rescue Centers in Orange County to assist in rescuing dogs from high kill shelters and terrible
                situations of neglect or abuse. So many dogs we rescue are on the verge of being euthanized at local
                Southern California city and county shelters. We like to bring in dog trainers and rehab specialists to
                work
                with our rescue dogs if they need it - especially those who have suffered injuries or abuse at the hands
                of
                previous owners. It's a great way to build up a dog's confidence, assimilate him to new owners and get
                him
                ready to meet his forever family!
            </h3>
            <h2 id="response">Responsibilities for the Parents of the Newly Adopted Dog:</h2>
            <h3>
                1. Never, ever leave a child alone with your new dog. Not even for a second to turn your head and answer
                the phone. The type of relationship we see on TV between children and dogs is a fantasy, and not a
                reflection of what real dogs can be like with children.
            </h3>
            <h3>
                2. No one in the family should be encouraging rough play, wrestling, or the dog to play with his mouth
                on
                human body parts or clothes. This is especially relevant when an adult member of the household plays
                with the dog in this manner, because when the child next excites the dog, the dog may be stimulated to
                play in the same rough manner, thereby putting the child at risk for injury.
            </h3>
            <h3>
                3. Your dog should be fed his meals in an area completely protected from and away from children, as much
                for a bit of peace and privacy as it is to prevent guarding behaviors. The dog should also be fed
                portions that are quickly finished, so there is nothing left in the bowl for the dog to linger over and
                guard. Empty bowls should be taken up and put away, so the dog won't consider guarding the feeding area.
            </h3>
            <h3>
                4. Most children are not bitten by their own dog, but by a friend or neighbor's dog. This means two
                things:
                watch your own dog closely when your child has a friend (or friends) over. Many dogs will tolerate a lot
                from their own family's child, but not tolerate a visiting child. Visiting children often do not behave
                as well as, or may behave differently from your own children, and could bother or provoke your dog.
                Consequently, if your child's friends have dogs, you need to, (as a responsible parent) go over and meet
                the friend's dog BEFORE you allow your child to visit their house. It is a good idea to see the size and
                general nature of your child's friend's dog, and check to see if the owner of this dog will allow
                unsupervised interaction between the children and the dog, to ask where and when the dog is fed, and to
                check if there are any chewable toys or bones lying around, and then to either request that they be
                picked up and put away while your child visits, or ensure that their dog has no possessiveness problems.
            </h3>
        </div>
        <div id="right_side_adopt"></div>
    </div>
    <div class="dog_house">
        <img src="/static/Images/dog_house.jpg" alt="" id="left_pic">
        <img src="/static/Images/dog_house2.jpg" alt="" id="center_pic">
        <img src="/static/Images/dog_house3.jpg" alt="" id="right_pic">
    </div>
    <div class="Check_out">
        <a href="/application">
            <h1><img src="/static/Images/paw.jpg" alt="" id="paw">Adoption Application<img src="/static/Images/paw.jpg" alt="" id="paw"></h1>
        </a>
    </div>
        <p class="adopt">Can't adopt but would like to donate? Check out our <a href="">Foster Care Program</a></p>
    <img src="/static/Images/furry_friends.jpg" alt="" class="adopt">
    <img src="/static/Images/kid_and_puppy.jpg" alt="" class="adopt">
</body>

</html>