<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coming Soon...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="/static/Images/magnifying_glass.png"
                    alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart"
                            src="/static/Images/cart.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">

        <a href="/our_story"><h2>Our Story</h2></a>
        <a href="/adopt"><h2>Adopt a doggo</h2></a>
        <a href="/products"><h2>Products</h2></a>
        <a href="/coming_soon"><h2>Coming Soon...</h2></a>
    </div>

    <h1>Whats New!!</h1>

    <h2>Our Barkery!</h2>
    <p>Made with love. Freshly made treats and more!! Soon to come out very own doggo bakery.</p>
    <img src="/static/Images/barkery1.jpg" alt="">
    <img src="/static/Images/barkery2.jpg" alt="">
    <img src="/static/Images/barkery3.jpg" alt="">
    