<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Story</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="/"><img id="topDog" src="https://freepikpsd.com/file/2019/10/dog-logo-png-2-Transparent-Images.png"
                    alt="dog with glasses and a hat on"></a>
            <h1 id="easy">DoggoToggo</h1>
            <div class="endNav">
                <div id="searchbar">
                    <input type="text" placeholder="Anything dogs..." id="search">
                    <img src="/static/Images/magnifying_glass.png" alt="search" id="magnify" alt="search" id="magnify">
                </div>
                <div>
                    <a href="/cart"><img id="cart" src="/static/Images/cart.png"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navBelow">

        <a href="/our_story">
            <h2>Our Story</h2>
        </a>
        <a href="/adopt">
            <h2>Adopt a doggo</h2>
        </a>
        <a href="/products">
            <h2>Products</h2>
        </a>
        <a href="/coming_soon">
            <h2>Coming Soon...</h2>
        </a>
    </div>
    <h1 class="our_story">Our Story</h1>
    <div id="topbody">
        <div id="left_side"></div>
        <div id="p_and_c_box">
            <img src="/static/Images/Pauline_and_cookie.jpg" alt="Pauline and Cookie" id="p_and_c">
        </div>
        <div id="story">
            <h4 id="">Our story starts with my daughter Pauline and her love for animals. I personally remember how much my dog meant to me growing up and I wanted to give Pauline that same feeling. I wanted to do more then just adopt or buy from breeder. There is no better feeling then saving dogs.
                
            </h4>
            <h4 id="">When we adopted Cookie during the start of the pandemic she truly saved us more than we saved her. She was the opposite of outgoing - she was shut down in the shelter, barely acknowledging me, we I took Pauline to visit with her, she seen Pauline and right on the spot on she leaned in slightly and snuggles with her, the deal was sealed.
            </h4>
            <h4 id="">We want to bring awareness to all the shelter Doggo's deserving and in need of homes. It's always the perfect time to celebrate the joys of adopting a dog.</h3>
            </h4>
        </div>
        <div id="right_side"></div>
    </div>
</body>

</html>